@import url("fonts.css");

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  text-align: center;
  background-color: white;
  font-size: 20px;
}

.meanius {
  display: grid;
  grid-template-columns: max(70px, 10%) 30% 8%;
  background-color: black;
  width: 100%;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 2px;
  font-family: "Temp Quote Font";
  height: 65px;
}

.meanius-item {
  grid-row: 1;
}


.box {
  background-image: radial-gradient(
    rgba(235, 255, 204, 0.7),
    rgba(246, 255, 238, 0.5)
  );
  border-radius: 30px;
  padding: 20px;
  margin: 20px;
  box-shadow: 10px 5px 5px rgba(50, 50, 50, 0.4);
}

.box h3 {
  margin-bottom: 0px;
  margin-top: 10px; 
  font-family: 'Heading Font';
}

.about1 {
  margin: 50px;
}

.about2 {
  margin: 50px;
}

.faq-box {
  text-align: left;
  height: 60px;
  overflow-y: hidden;
  padding-top: 0;
  padding-bottom: 10;
  width: fit-content;
  font-family: 'Song Font'; 
  color: rgba(63, 38, 0, 0.934);
}

.faq-box:hover {
  height: fit-content;
}

.answers {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.faq-box:hover .answers {
  opacity: 1;
}







.index-image {
  width: 100%; 
  height: 100%;
  object-fit: cover;
}

.hair-image {
  width: 100%;
  height: auto;
  
}
.image-container {
  width: 80%; 
  height: auto; 
  margin: 10% auto; 
}


.text-beside-left-box {
  width: 50%;
  float: left;
  padding: 10px;
  margin-top: 10%;
  font-family: "Description Font";
  color: #87CEEB;
  margin-left: 5%;
}

.left-box {
  width: 500px;
  height: 500px;
  background-color: powderblue;
  float: left;
  margin-right: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
}

.text-beside-right-box {
  width: 50%; 
  float: right;
  padding: 10px;
  margin-top: 10%;
  font-family: "Description Font";
  color: #87CEEB;
  margin-left: 5%;
}

.right-box {
  width: 500px;
  height: 500px;
  background-color: rgb(36, 142, 156);
  float: right;
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.stripes {
  background-image: repeating-linear-gradient(-45deg, #006866, #006866 20px, #9B59B6 20px, #9B59B6 40px);
  background-size: 100% 40px;
  height: 200vh;
}